---
import { Icon } from "astro-icon/components";

const {
  text,
  url,
  iconName 
} = Astro.props;

---

<button
  class="flex items-center mr-4 px-3 py-1 bg-tertiary border-[1px] border-white/10 rounded-full hover:bg-tertiaryHover transition-colors"
>
  <Icon name={iconName} width={15} height={15} class:list={'mr-2'} />
  <a href={url} target="_blank">{text}  </a>
</button>
